//只能
.intelligent-consultant{
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 5px;
  background: #ffffff;
  .i-left{
    width: 30px;
    height: 100%;
    //background: #59d2e7;
    font-size: 26px;
    text-align: center;
    line-height: 50px;

  }
  .i-right{
    width: 210px;
    height: 100%;
    //background: #23ff42;
    h3{
      font-size: 14px;
      font-weight: normal;

    }
    p{
      padding-top: 5px;
      font-size: 12px;
      color: #9c9c9c;

    }

  }
}