//3新品快报
.product-information,.safe-information{
  height: 180px;
  margin-top: 15px;
  border: 1px solid red;
  box-sizing: border-box;
  background: #ffffff;
  //标题
  .i-title{
    height: 50px;
    background: #f5f5f6;
    font-size: 14px;
    padding-left: 15px;
    line-height: 50px;
  }
  //内容
  .i-content{
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    p{
      margin-bottom: 10px;
      font-size: 12px;
      b{
        font-size: 12px;
      }

    }
    a{
      font-size: 12px;
      color: #00c1de;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
//安全情报的特殊样式
.safe-information{
  .i-content{
    p:hover{
      text-decoration: underline;
    }
  }
}
