//4、我的关注
.my-care{
  height: 330px;
  margin-bottom: 15px;
  //border: 1px solid red;
  padding: 0 15px 15px 15px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: #a8a8a8 0px 1px 2px 0px;

  //1标题
  .title{
    div{
      a{
        color: #06c;
      }
      a:hover{
        text-decoration: none;
      }
    }

  }
  //2内容
  .thing{
    flex-direction: column;
    height: 270px !important;
    border: 1px solid #e6e7e9;
    //2.1场频信息
    .product-msg{
      display: flex;
      width: 100%;
      height: 230px;
      padding: 15px;
      background: #ffffff;
      box-sizing: border-box;


    }


  }
}