.main{
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 50px);
  //height: auto;
  //height: 100%;

  background: rgb(234, 237, 241);
  padding: 20px;
  box-sizing: border-box;
  //左边
  .mleft{
    width: calc(100% - 340px);
    //height: auto;
    //border: 1px solid #54ff6d;
    box-sizing: border-box;

    h3{

      height: 45px;
      font-size: 14px;
      line-height: 45px;
      font-weight: normal;
      //background: #00c1de;

    }
    .thing{
      display: flex;
      justify-content: space-between;
      height:120px;
    }


    //4、我的资源
    .my-resources{
      height: 325px;
      margin-bottom: 15px;
      border: 1px solid red;
      box-sizing: border-box;
    }

  }
  //右边
  .mright{
    width: 320px;
    height: auto;
    //border: 1px solid red;
    box-sizing: border-box;




  }
}